<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
        <string>enterprise</string>
    <key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com</string>
		<key>displayImageURL</key>
		<string>https://github.com</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com</string>
	</dict>
    <key>compileBitcode</key>
	    <true/>
	<key>provisioningProfiles</key>
	<dict>
        <key>com.comapi.foundation</key>
		<string>ComapiFoundation</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>JE27K8BAX2</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>